<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1.0">
    <title>::: Index 페이지 :::</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/mainapp/img/favicon.png" rel="icon">
    <link href="static/mainapp/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/mainapp/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/mainapp/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/mainapp/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/mainapp/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/mainapp/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/mainapp/css/style.css" rel="stylesheet">

    <style>
      .team .row {
        display: flex;
        justify-content: center; /* 가로 축 가운데 정렬 */
        align-items: center; /* 세로 축 가운데 정렬 */
      }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Universe</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Main</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">데이터분석</a></li>
          <li><a class="nav-link scrollto" href="#team">팀원소개</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
      <h1>우주의 세계에 오신걸 환영합니다.</h1>
      <h2>아래 클릭해주세요.</h2>
      <a href="#about" class="btn-get-started scrollto">이동하기</a>
    </div>
    </section>
    <!-- End Hero -->

    <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="static/mainapp/img/clients/Python_logo_and_wordmark.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="static/mainapp/img/clients/pandas_secondary.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="static/mainapp/img/clients/NumPy_logo.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="static/mainapp/img/clients/logo-wide-lightbg.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="static/mainapp/img/clients/logo-wide-lightbg.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
    </section>
    <!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
  
          <div class="section-title">
            <h2>데이터분석</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">전체</li>
                <li data-filter=".filter-sunplot">흑점 수</li>
                <li data-filter=".filter-geomagnetic_storm">지자기폭풍</li>
                <li data-filter=".filter-ionosphere">전리층</li>
                <li data-filter=".filter-aurora">오로라</li>
                <li data-filter=".filter-El_Niño">엘니뇨</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" id="data">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-sunplot", id="sunplot1">
              <img src="static/mainapp/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>흑점 수</h4>
                <p>분석내용</p>
                <a href="static/mainapp/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-geomagnetic_storm">
              <img src="static/mainapp/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>지자기폭풍</h4>
                <p>분석내용</p>
                <a href="static/mainapp/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-ionosphere">
              <img src="static/mainapp/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>전리층</h4>
                <p>분석내용</p>
                <a href="static/mainapp/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-aurora">
              <img src="static/mainapp/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>오로라</h4>
                <p>분석내용</p>
                <a href="static/mainapp/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-El_Niño">
              <img src="static/mainapp/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>엘니뇨</h4>
                <p>분석내용</p>
                <a href="static/mainapp/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
   
          </div>
  
        </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>일석이조</h2>

          </div>
  
          <div class="row">
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <div class="member-img">
                    <img src="static/mainapp/img/team/최준용.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>최준용</h4>
                    <span>Leader</span>
                    <span>OO 및 OO 담당</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <div class="member-img">
                    <img src="static/mainapp/img/team/김명기.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>김명기</h4>
                    <span>Member</span>
                    <span>OO 및 OO 담당</span>
                  </div>
                </div>
              </div>
          </div>

          <br>

          <div class="row">
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <div class="member-img">
                    <img src="static/mainapp/img/team/김소연.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>김소연</h4>
                    <span>Member</span>
                    <span>OO 및 OO 담당</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <div class="member-img">
                    <img src="static/mainapp/img/team/김태헌.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>김태헌</h4>
                    <span>Member</span>
                    <span>OO 및 OO 담당</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <div class="member-img">
                    <img src="static/mainapp/img/team/정유나.png" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>정유나</h4>
                    <span>Member</span>
                    <span>OO 및 OO 담당</span>
                  </div>
                </div>
              </div>
            
          </div>
  
        </div>
      </section>
      <!-- End Team Section -->

    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/mainapp/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/mainapp/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/mainapp/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/mainapp/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/mainapp/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/mainapp/js/main.js"></script>

</body>
</html>
