{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Baker Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'mainapp/img/favicon.png'%}" rel="icon">
    <link href="{% static 'mainapp/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'mainapp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'mainapp/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <img src="{% static 'mainapp/img/portfolio/디층.jpg' %}" alt="">

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>상세 설명</h3>
              <ul>
                <li><strong>Category</strong>: 전리층</li>
                <li><strong>상세</strong>: 전리권 D층</li>
                <li><strong>출처</strong>: <a href="#">https://ko.m.wikipedia.org/wiki/%EC%A0%84%EB%A6%AC%EC%B8%B5</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>전리권 D층</h2>
              <p>
                D층은 가장 안쪽에 있는 층으로 지구 표면으로부터 50km에서 90km사이에 위치한다. 이 층에서 생기는 이온화는 라이먼 계열 알파 수소 복사인데, 파장은 121.5nm 이고 일산화질소를 이온화한다. 더하여 태양 흑점의 수가 50개 이상으로 활발할 때는 경X선(파장 1nm이하)이 공기(질소 분자와 산소분자)를 이온화시킨다. 밤 동안에는 우주선이 이온화를 시킨다. 이 층은 가장 고도가 낮고 대기의 밀도가 높기 때문에 재결합작용이 활발하다. 따라서 순수한 이온화 효과는 매우 낮고, 고주파수(HF; high frequency) 전파는 D층에서 굴절되지 않는다. 자유 전자와 다른 입자간의 충돌 빈도는 낮 동안에는 1초에 1000만번에 이른다. D층은 HF 전파를 흡수하는데, 주로 10MHz나 그보다 파장이 긴 전파가 이에 해당한다. 그보다 파장이 짧아지면 흡수되는 정도가 약해진다. 전파의 흡수는 밤에 약하고 한낮에 최대가 된다. 이 층은 일몰 후에 굉장히 약해지지만, 은하로부터 오는 우주선에 의해 약간 남게된다. D층의 활동의 일반적인 예로는 AM광대역 방송이 방송국에서 멀어짐에따라 엹어져 가는 것을 들 수 있다.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'mainapp/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mainapp/js/main.js'%}"></script>

</body>

</html>