{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Baker Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'mainapp/img/favicon.png'%}" rel="icon">
    <link href="{% static 'mainapp/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'mainapp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'mainapp/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <img src="{% static 'mainapp/img/portfolio/임계주파수.jpg' %}" alt="">

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>상세 설명</h3>
              <ul>
                <li><strong>Category</strong>: 전리층</li>
                <li><strong>세부</strong>: 임계 주파수</li>
                <li><strong>출처</strong>: <a href="#">https://ko.m.wikipedia.org/wiki/%EC%9E%84%EA%B3%84_%EC%A3%BC%ED%8C%8C%EC%88%98</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>임계 주파수</h2>
              <p>
                지구 대기의 가장 안쪽 부분은 대류권이라고 하며 지표로부터 약 10km 높이까지를 말한다. 10km와 50km사이의 대기를 성층권이라고 하며, 50km부터 80km높이의 대기는 중간권이라고 한다. 오존층은 성층권에서 형성된다. 80km이상의 높이에 있는 대기의 층을 열권이라고 하는데, 대기가 매우 희박하여 자유전자들이 존재한다. 이들 자유전자는 주위의 양이온에게 포획될 때까지 짧은 시간 동안 이동할 수 있다. 자유전자의 밀도는 전파의 진행에 영향을 주기에 충분한 정도이다. 이온화되어서 부분적으로 플라스마화되어 있는 대기의 층을 전리층이라고 한다. 플라스마 안에서는 음전하를 띠는 전자와 양전하를 띠는 양이온이 존재하여 전자기력이 작용하여 서로 끌어당기고 있지만 각자의 에너지 상태가 너무 높아서 중성의 원자로 안정적으로 존재할 수 없다.
자외선과 X선 영역의 태양 복사는 중성의 원자나 분자를 이온화 할 수 있다고 생각된다. 이 주파수 영역의 광자는 전자를 떼어놓기에 충분한 에너지를 가지고 있기 때문이다. 그러나 동시에 자유전자들은 주변의 양이온과 인력이 작용하여 다시 중성원자로 돌아가는 재결합 작용 또한 일어나고 있다. 고도가 낮아서 기체의 밀도가 높은 곳에서는 기체 원자가 서로 가까이 있기 때문에 재결합의 속도가 빠르다. 두 작용이 균형을 이루는 속도가 이온화 정도를 결정한다.
이온화 정도는 태양과 그 활동에 달려있다. 전리층의 이온화 정도는 태양으로부터 받는 복사의 양에 따라 대부분 결정된다. 따라서 전리층의 활동에는 일변화와 연변화가 있음을 예상할 수 있다. 예를 들면 겨울에 해당하는 반구는 태양을 등지고 기울어져 있는데, 그래서 적은 태양복사를 받게 된다. 또 태양의 활동은 흑점 주기와도 연관이 있는데, 흑점이 많을 때 태양은 더 많은 복사를 방출한다. 입사되는 태양복사의 양은 위도에 따라서도 달라진다. 한편 전리층을 흐트려뜨리고 이온화를 방해하는 작용도 존재하는데, 태양 플레어 현상에 수반되어 방출된 대전입자는 태양풍에 의해 날려와 지구에 도달하면 지구자기장과 상호작용한다.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'mainapp/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mainapp/js/main.js'%}"></script>

</body>

</html>