{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Baker Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'mainapp/img/favicon.png'%}" rel="icon">
    <link href="{% static 'mainapp/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'mainapp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'mainapp/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <img src="{% static 'mainapp/img/portfolio/전리층 전체.jpg' %}" alt="" height="550">

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>상세 설명</h3>
              <ul>
                <li><strong>Category</strong>: 전리층</li>
                <li><strong>상세</strong>: 전리층</li>
                <li><strong>출처</strong>: <a href="#">https://ko.m.wikipedia.org/wiki/%EC%A0%84%EB%A6%AC%EC%B8%B5</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>전리층</h2>
              <p>
                전리층은 지구 대기 상공 약 60 킬로미터에서 상공 약 1,000 킬로미터의 구역으로 열권의 대부분과 중간권 및 외기권의 일부분을 포함한다. 태양 복사선에 의해 대기 분자들이 전리되어있기에 전리층이라고 부른다. 대기전기학적으로 중요한 성질을 가지며, 지구 자기권의 안쪽 경계를 이룬다. 전파가 전파될 때 전리층에 반사되어 지구 멀리까지 전파 통신이 가능하다는 점에서 응용학적으로도 중요한 역할을 하고 있다.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'mainapp/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mainapp/js/main.js'%}"></script>

</body>

</html>