{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Baker Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'mainapp/img/favicon.png'%}" rel="icon">
    <link href="{% static 'mainapp/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'mainapp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'mainapp/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'mainapp/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <img src="{% static 'mainapp/img/portfolio/sun/채층.jpg' %}" alt="">

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>상세 설명</h3>
              <ul>
                <li><strong>Category</strong>: 대기</li>
                <li><strong>상세 </strong>: 채층</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>채층</h2>
              <p>
                선홍색의 대기층이지만 광구가 너무 밝아서 평소에는 보이지 않는다. <br>
                태양중심에서 멀어질수록 온도가 높아지며 밀도는 낮아집니다.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'mainapp/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'mainapp/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mainapp/js/main.js'%}"></script>

</body>

</html>